# .gitignore
.venv/
__pycache__/
*.pyc
*.egg-info/
.env

# Ignore data and weights
checkpoints/
tests/
tests/fixtures/train.json
tests/fixtures/test.json
tests/fixtures/sixray_train_detr_coco.json
tests/fixtures/sixray_test_detr_coco.json
outputs/
*.pth
*.pt
*.zip

# Jupyter
.ipynb_checkpoints/
notebooks/experiments/01_train_teacher_baseline.ipynb
notebooks/experiments/01_train_teacher.ipynb


# Editor
.vscode/
.idea/

# Ignore system files
.DS_Store